<div style="width: 100%; height: 100%;">
    <h1>GitHub Organizations</h1>

    <!-- Repositories Grid -->
    <ag-grid-angular
            [gridOptions]="gridOptions"
            [rowData]="rowData"
            [columnDefs]="columnDefs"
            (selectionChanged)="onRepoSelectionChange($event)"
            class="ag-theme-alpine"
            style="width: 100%"
    >
    </ag-grid-angular>

    <h2 class="mt-20">User-Level Stats</h2>

    <!-- Aggregated Stats Grid -->
    <ag-grid-angular
            [gridOptions]="stategridOptions"
            [rowData]="userStats"
            [columnDefs]="statsColumnDefs"
            (gridReady)="onGridReady($event)"
            class="ag-theme-alpine"
            style="width: 100%">
    </ag-grid-angular>
</div>
